/* UNTUK ANALYSIS USER */

#tabel1 thead th,
#tabel1 tfoot th,
#tabel1 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel2 thead th,
#tabel2 tfoot th,
#tabel2 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel3 thead th,
#tabel3 tfoot th,
#tabel3 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel4 thead th,
#tabel4 tfoot th,
#tabel4 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel5 thead th,
#tabel5 tfoot th,
#tabel5 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel6 thead th,
#tabel6 tfoot th,
#tabel6 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel7 thead th,
#tabel7 tfoot th,
#tabel7 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel8 thead th,
#tabel8 tfoot th,
#tabel8 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel9 thead th,
#tabel9 tfoot th,
#tabel9 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel10 thead th,
#tabel10 tfoot th,
#tabel10 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel11 thead th,
#tabel11 tfoot th,
#tabel11 tbody td {
  text-align: center;
  vertical-align: middle;
}

/* UNTUK EDIT CRITERIA */

#tabel12 thead th,
#tabel12 tfoot th,
#tabel12 tbody td {
  text-align: center;
  vertical-align: middle;
}

/* UNTUK EDIT ALTERNATIVE */

#tabel13 thead th,
#tabel13 tfoot th,
#tabel13 tbody td {
  text-align: center;
  vertical-align: middle;
}

/* PEMBATAS */

#tabel14 thead th,
#tabel14 tfoot th,
#tabel14 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel15 thead th,
#tabel15 tfoot th,
#tabel15 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel16 thead th,
#tabel16 tfoot th,
#tabel16 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel17 thead th,
#tabel17 tfoot th,
#tabel17 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel18 thead th,
#tabel18 tfoot th,
#tabel18 tbody td {
  text-align: center;
  vertical-align: middle;
}

#tabel19 thead th,
#tabel19 tfoot th,
#tabel19 tbody td {
  text-align: center;
  vertical-align: middle;
}
